<app-hijo
  (EmitirObjeto1)="recibirObjeto1($event)"
  (EmitirObjeto2)="recibirObjeto2($event)">
</app-hijo>

<div class="container col-5">
<h1 class="my-5">Objetos con @Output</h1>

  <ul>
    <li>Objeto del Hijo: <pre>{{Zayn | json}}</pre></li>
    <li>Objeto del Hijo 2: <pre>{{Niall | json}}</pre></li>
  </ul>

</div>
